.list .item {
    display: flex;
    align-items: center;
    border-bottom: 1px grey solid;
    padding: .6rem 0;
    opacity: .6;
    
    &:first-child {
        padding-top: 0;
    }
    
    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
            
    &__thumb {
        margin-right: 1rem;
        font-size: 1.4rem;
    }
    &__details {}
}