html, body {
    height: 100%;
    background-color: var(--bg-main);
    
    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    padding-top: 2rem;
    overflow: hidden;
    font-family: 'Google Sans';
    -webkit-app-region: drag;
    
    * {transition: all .3s ease;}
}

.app__wrapper {
    padding: 0 1rem 1rem 1rem;
}

img {
    user-select: none;
    pointer-events: none;
    object-fit: cover;
}