[data-section="addFiles"] {
    position: relative;
    // position: fixed;
    // @include position-stretch;
    @include flex-center;
    flex-direction: column;
    // height: 100%;
    // max-height: 100vh;
    overflow: hidden;
    z-index: 1;
    
    form {
        position: absolute;
        width: 100%;
        height: 100%;
        
        input[type="file"] {
            background-color: transparent;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }
    
    &.sesam-hidden {
        max-height: 0vh;
    }
}
